<header>
    <nav class="main-navigation">
        <!-- Logo (Home) links -->
        <img class="logo" src="/assets/logo.svg" alt="Bieb-in-bloei-logo-icoon" width="80" height="80">

        <!-- Navigatie rechts -->
     <!-- Navigatie rechts -->
<section class="navigation-content">
    <button class="hamburger" aria-label="Open het navigatiemenu" title="Open het navigatiemenu">&#9776;</button>
    <ul class="nav">
        <li><a href="#">Projecten</a>
            <ul class="submenu">
                <li><a href="#">Stekjes</a></li>
                <li><a href="#">Zaden</a></li>
                <li><a href="#">Geveltuin</a></li>
                <li><a href="#">Groenebieb</a></li>
            </ul>
        </li>
        <li><a href="#">Agenda</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Over</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</section>
    </nav>
</header>
