<header>
    <nav class="main-navigation">
        <!-- Logo (Home) links -->
       
            <img  class="logo" src="/assets/logo.svg" alt="" width="80" height="80"> 
      
        
        <!-- Navigatie rechts -->
        <nav>
            <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
            <ul class="nav">
                <li><a href="#">Projecten</a>
                    <ul class="submenu">
                        <li><a href="#">Stekjes</a></li>
                        <li><a href="#">Zaden</a></li>
                        <li><a href="#">Geveltuin</a></li>
                        <li><a href="#">Groenebieb</a></li>
                    </ul>
                </li>
                <li><a href="#">Agenda</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Over</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
</header>